# vscode local settings
.vscode

# python virtual env
.venv

# latex env
paper/*
!paper/*.tex
!paper/*.pdf

paper/project_proposal*

# build files
build
_build
install.log
make.log
cmake.log


# big csv's
resources/*.csv